<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-6">
        hi there
      </div>
      <div class="col-md-4 col-xs-6">
        <%= image_tag "sth_logo_blue_tight.png", class: "img-responsive img-brand" %>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse affix-top" data-spy="affix" data-offset-top="50" data-offset-bottom="200">
  <div class="container">
    <div class="row">
    <div class="navbar-header">
      <a class="navbar-header-home visible-xs" href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA4VBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+sqgLzAAAASnRSTlMAAQIDBAUGCgsNDhESEx4hIyotLjAxMjg5RUZMTlZXWVxdXmRncHd7foCDiZSXnZ6iqquvsLS5vsDFyMrO0dPa3N7g7e/x8/X3+VA+mOEAAADgSURBVChTzc/ZTsJQFEbhv6ccEKsVxzorIOKAs1JRsSCCZb3/A3kBJqWtiTdG193Ol+zsLf2XnNrjsStpOQzDi4zaB6BblvYA0rrYB2BYyeWNMXT8DrB7kOU60DLGtIBRms0lcKjNOFCVSQmde4F4RQ2godU4xUvvEHmFGwBuC15vhneAO+tF063Rgr0H9ifonAFNZy3mq/G60wTOHUnFNrClOsmOtA20i9IbDHz3itmuXX8AfanGU6ncJd3rfOmZqqTAaJRR+JAJpqfnaPLvH7K11trvOTv8OZ/m8Il+u0/uFGzRbMEA/AAAAABJRU5ErkJggg==">
      </a>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Ward Activities</a></li>
        <li><a href="#">Environmental Projects</a></li>
        <li><a href="#">Artists &amp; Musicians</a></li>
        <li><a href="#">Get involved</a></li>
        <li><a href="#">Support us</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
      </div>
  </div>
</nav>