<nav class="navbar navbar-default navbar-topbar hidden-xs">
  <div class="container">
    <div class="row">
    <div id="topbar" class="">
      <ul class="nav navbar-nav navbar-topbar-nav">
        <li><a href="#">Information for staff</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>