---
title: Andrew Cash
---
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <header>
            <h1>Sir Andrew Cash OBE</h1>
            <p class="lead">Chief Executive</p>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to "Home", "/index.html" %></li>
        <li class="active">Sir Andrew Cash OBE</li>
      </ol>
    </div>
    
    <div class="col-md-8">
      <%= image_tag "andrew_cash.jpg", class: "align-right", width: "250" %>
      <p class="lead">I completed a National NHS Graduate Management Scheme at the beginning of my career having left University and found it a wonderful entrance into the National Health Service. </p>
      <p>After a number of roles within the NHS, I joined Sheffield Teaching Hospitals as a Chief Executive at the Northern General Hospital and during my time here have had two secondments to The Department of Health.</p>
      <p>The first secondment was to almost immediately head up the Millennium Executive Team for the National Health Service which was preparing the NHS for the year 2000 date change and for the Winter. </p>
      <p>The second was working as Director General at The Department of Health looking after all forms of providers and developing The Foundation Trust model.</p>
      <p>When I came back to the Trust in 2004 I led the merger between the Central Sheffield University’s Hospitals NHS Trust and the Northern General NHS Trust and thereafter led the movement to us becoming a first wave Foundation Trust and what is now know as Sheffield Teaching Hospitals today.</p>
    </div>
    
    <div class="col-md-3 col-md-offset-1">
      <aside class="sidebar"> 
        <h3>Sidebar title</h3>
        <p>This is where the things live</p>
      </aside>
    </div>
    
    <%= partial "partials/featured-block.html" %>
    
  </div>
</div>