---
title: Anna Hescott
---
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to "Home", "/index.html" %></li>
          <li class="active">Anna Hescott</li>
        </ol>
      </div>

        <div class="col-md-12">
          <header>
            <h1>Anna Hescott</h1>
            <p class="lead">Performance and Improvement Manager for Medicine and Pharmacy Services</p>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "anna_hescott.png", class: "align-right", width: "250" %>
      <p class="lead">I joined Sheffield Teaching Hospitals straight off my graduate scheme to work within the Medicine and Pharmacy Care Group supporting performance monitoring, business planning and improvement of our services.</p>
      <p>This role is covering a period of maternity leave so I have recently secured my next role at the Trust as a Service Manager for Diabetes and Endocrinology. I look forward to learning more about these clinical services and continuing to learn about the organisation from a different perspective.</p>
      <p>My defining moment for the NHS for me, so far, was coordinating a successful business case for additional clinical staff for one of our services.</p>
      <p>There are many things I love about my job, but it isn’t always easy. It takes resilience and belief in what you’re doing to keep things moving forward for the benefit of our patients and colleagues.</p>
      <p>For me, there are three key things which make the Trust a good place to start and develop a career: the first is strong and respectful relationships between clinical and administra- tive teams, highly experienced and supportive managers to learn from and finally the size of the organisation means that there are lots of opportunities to get involved in projects both within and outside of your immediate working environment.</p>
    </div>
    
    <div class="col-md-4">
      <aside class="sidebar">
        <h3>Further details</h3>
        <p>Further information about this role and Sheffield Teaching Hospitals NHS Foundation Trust can be found on below:</p>
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "Application booklet", "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" %></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk">Our website</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/work-for-us">Our Working for Us pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/futureplans">Our "Making a Difference Strategy" pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/research-innovation">Our research and innovation pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/about-us/official-publications/annual-report-and-accounts">Our Annual Reports and Accounts</a></li>
          <li class="list-group-item"><a href="http://www.cqc.org.uk/provider/RHQ">Care Quality Commission inspection reports June 2016</a></li>
          <li class="list-group-item"><a href="http://www.nhsstaffsurveys.com/Caches/Files/NHS_staff_survey_2016_RHQ_sum.pdf">NHS Staff Survey Results 2016</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/patients/patient-experience/surveys/friends-and-family-test">Friends and Family test results</a></li>
        </ul>
      </aside>
    </div>
    
    <%= partial "partials/featured-block.html" %>
    
  </div>
</div>