---
title: Maria Makhonina
---
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to "Home", "/index.html" %></li>
          <li class="active">Maria Makhonina</li>
        </ol>
      </div>

        <div class="col-md-12">
          <header>
            <h1>Maria Makhonina</h1>
            <p class="lead">Improvement Facilitator (Service Improvement)</p>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "maria_makhonina.jpg", class: "align-right", width: "250" %>
      <p class="lead">After completing a graduate management scheme I joined a Service Improvement Team at Sheffield Teaching Hospitals and am working as an Improvement Facilitator working with a range of clinical teams across different pathways.</p>
      <p>As part of my job I am delivering teaching at Sheffield Microsystems Coaching Academy. Recently I was on secondment as an Operational Manager, which gave me a completely different experience and understanding of the systems and processes.</p>
      <p>The scheme opened new horizons for me and developed me both professionally and as a person. The Trust is one of the largest and leading health care providers both in the region and nationally. Sheffield Teaching Hospitals has a reputation of one of the best hospital Trusts and is one of the recognised leaders for innovation and improvement, which makes it a place of endless opportunities for people striving to learn, develop and lead.</p>
      <p>I feel very privileged that I had an opportunity to work, study, develop, grow professionally and make new connections and friends during my time at the Trust so far.</p>
   </div>
    
    <div class="col-md-4">
      <aside class="sidebar">
        <h3>Further details</h3>
        <p>Further information about this role and Sheffield Teaching Hospitals NHS Foundation Trust can be found on below:</p>
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "Application booklet", "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" %></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk">Our website</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/work-for-us">Our Working for Us pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/futureplans">Our "Making a Difference Strategy" pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/research-innovation">Our research and innovation pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/about-us/official-publications/annual-report-and-accounts">Our Annual Reports and Accounts</a></li>
          <li class="list-group-item"><a href="http://www.cqc.org.uk/provider/RHQ">Care Quality Commission inspection reports June 2016</a></li>
          <li class="list-group-item"><a href="http://www.nhsstaffsurveys.com/Caches/Files/NHS_staff_survey_2016_RHQ_sum.pdf">NHS Staff Survey Results 2016</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/patients/patient-experience/surveys/friends-and-family-test">Friends and Family test results</a></li>
        </ul>
      </aside>
    </div>
    
    <%= partial "partials/featured-block.html" %>
    
  </div>
</div>