---
title: Rebecca Joyce
---
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to "Home", "/index.html" %></li>
          <li class="active">Rebecca Joyce</li>
        </ol>
      </div>

        <div class="col-md-12">
          <header>
            <h1>Rebecca Joyce</h1>
            <p class="lead">Service Improvement Director</p>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "becky_joyce.jpg", class: "align-right", width: "250" %>
       <p class="lead">I joined the Trust in 2007 as an Operations Director for Specialised Cancer and Medicine after spending 7 years working in the NHS in London.</p>    
       <p>In 2011 I had the opportunity to set up a number of improvement programmes across the Trust and in 2014 I was appointed as Service Improvement Director.</p>
       <p>I lead a team of 30 people from different healthcare and non healthcare backgrounds - all committed and enthusiastic to help teams improve care for the patients. We help teams across the Trust make improvements to the quality and efficiency of services for patients, staff and the wider NHS.</p>
       <p>From joining the Trust I really appreciated the positive and can do culture. I really noticed the talent and commitment of colleagues throughout the organisation and have always really enjoyed this. As a leader, I've been given real space and autonomy to lead which has been great. There is a real developmental ethos, and people will help you develop and learn. The size of the organisation means there are always opportunities to get involved and carve out an interesting and varied career.</p>
       <p>Joining the NHS and the Trust is also an opportunity to contribute to something that genuinely makes a difference in people's lives when they are at their most vulnerable - what you are doing really matters. The Trust is a fascinating and complex organisation and you will always have great, talented and committed colleagues . One of the things I love about working in the NHS is that I am still learning - and think this will never end!</p>
  </div>
    
    <div class="col-md-4">
      <aside class="sidebar">
        <h3>Further details</h3>
        <p>Further information about this role and Sheffield Teaching Hospitals NHS Foundation Trust can be found below:</p>
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "Application booklet", "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" %></li>
          <li class="list-group-item"><a href="http://www.jobs.nhs.uk/xi/vacancy/cd19a5d0ab59b46cb0bbb1f7abc4ac79/?vac_ref=914626268">NHS Jobs post</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk">Our website</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/work-for-us">Our Working for Us pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/futureplans">Our "Making a Difference Strategy" pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/research-innovation">Our research and innovation pages</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/about-us/official-publications/annual-report-and-accounts">Our Annual Reports and Accounts</a></li>
          <li class="list-group-item"><a href="http://www.cqc.org.uk/provider/RHQ">Care Quality Commission inspection reports June 2016</a></li>
          <li class="list-group-item"><a href="http://www.nhsstaffsurveys.com/Caches/Files/NHS_staff_survey_2016_RHQ_sum.pdf">NHS Staff Survey Results 2016</a></li>
          <li class="list-group-item"><a href="http://www.sth.nhs.uk/patients/patient-experience/surveys/friends-and-family-test">Friends and Family test results</a></li>
        </ul>
      </aside>
    </div>
    
    <%= partial "partials/featured-block.html" %>
    
  </div>
</div>